body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.chart_card_container {
  display: flex;
  width: 10rem;
  height: auto;
  padding: 10px 10px;
  /* border-width: 2rem; */
  /* border-color: black; */
  border: 2px solid; 
  border-radius: 10px;
  flex-direction: column;
  background-color: #ffffff80;
  pointer-events: none;
}

.chart_card_subtitle{
  font-size: 1.5rem;
}
.chart_card_title{
  font-size: 1rem;
  font-weight: bold;
}

